
{% extends "pages/base.html" %}

{% block content %}
    <div class="row min-vh-100 about-page">
      <div class="col-lg-12 p-2 p-md-3">
        <h1 class="heading-blue p-4 mt-5 text-center text-muted"> About me</h1>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <p>I am an economist and software developer. I hold a PhD in economics from the Norwegian University of Life Sciences (NMBU). I have worked as a postdoctoral researcher at the Swedish University of Agricultural Sciences (SLU).</p>
        <p>My research interests include behavioral responses to different policy incentives as well as the psychology (and behavioral economics) of UX.</p>
        <p>Technology is affecting our lives like never before. At individual level, its effect is psychological, and hence behavioral. The choices we make everyday are affected by the availability of affective triggers which often sway us away from the homo economicus within us.</p>      
          </div>
          <div class="col-md-2" id="new-image"></div>
        </div>
      </div>
  </div>
{% endblock content %}