
{% extends "pages/base.html" %}

{% block content %}
    <div class="row shadow-lg bg-body rounded min-vh-100">
      <div class="col-lg-12">
        <h1 class="heading-blue p-4 text-center"> Contact me</h1>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p class="text-success"><i class="fa-solid fa-location-dot"></i></p>
            <p>Marina Gränsen 14k, 936 32</p>
            <p>Boliden, Sweden</p>
           <p> <i class="fa-solid fa-mobile"></i></p>
            <p>+46708856461</p>
           <p> <i class="fa-solid fa-envelope"></i></p>
            <p>amareteklay@gmail.com</p>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
  </div>
{% endblock content %}