<footer class="py-2 mb-0 text-center text-white">
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/amareteklay.hailu" target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/Amareteklay" target="_blank" role="button"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCITdwO40X0bb6JFS5sMetfg" target="_blank" role="button"><i class="fab fa-youtube"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/amareteklay/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="hub.com/Amareteklay/" target="_blank" role="button"><i class="fab fa-github"></i></a>
    <div class="border-top px-4 mb-1">
        <p class="text-center small text-white mb-1">Copyright &copy; 2022 <a class="text-salmon" href="{% url 'index' %}">Amareteklay</a></p>
</footer>