{% extends "pages/base.html" %}
{% load static %}
{% block content %}
    <!-- Main -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          <div id="face-image" class="text-center">
            <img src="{% static 'pages/images/Amare.jpg' %}" class="img-fluid" alt="Amare">
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8 text-center">
            <h3 class="mt-2">Amare Teklay Hailu</h3>
            <h4>Software Developer | Economist </h4>
            <a class="btn btn-secondary" href="#">Download my CV <i class="fas fa-download"></i></a>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row mt-4">
        
        <div class="col-md-5 shadow-lg p-4 mx-4">
            <h3 class="text-center">Selam!</h3>
              <h5 class="card-title">I'm Amare.</h5>
              <p class="card-text">Economist and Software Developer.</p>
              <p><a class="btn btn-secondary" href="{% url 'about' %}">More about me &raquo;</a></p>
        </div>
        
        <div class="col-md-5 shadow-lg p-4 mx-4">
          <h4>ትግርኛ / Tigrigna</h4>
              <h5 class="card-title">ትግርኛ ፅሑፋት</h5>
              <p class="card-text">ብ ትግርኛ ዝልጥፎም ፅሑፋት ኣብዚ መንጠሪ ብምጥዋቕ ትረኽቡ።</p>
              <p><a class="btn btn-secondary" href="{% url 'tiglog' %}">ምርሐኒ &raquo;</a></p>
        </div>
        
    </div>
    <div class="row mt-4">
        
      <div class="col-md-5 shadow-lg p-4 mx-4">
          <h3 class="text-center">Selam!</h3>
            <h5 class="card-title">I'm Amare.</h5>
            <p class="card-text">Economist and Software Developer.</p>
            <p><a class="btn btn-secondary" href="{% url 'about' %}">More about me &raquo;</a></p>
      </div>
      
      <div class="col-md-5 shadow-lg p-4 mx-4">
        <h4>ትግርኛ / Tigrigna</h4>
            <h5 class="card-title">ትግርኛ ፅሑፋት</h5>
            <p class="card-text">ብ ትግርኛ ዝልጥፎም ፅሑፋት ኣብዚ መንጠሪ ብምጥዋቕ ትረኽቡ።</p>
            <p><a class="btn btn-secondary" href="{% url 'tiglog' %}">ምርሐኒ &raquo;</a></p>
      </div>
      
  </div>
{% endblock content %}