{% extends "pages/base.html" %}

{% block content %}
<!--ML-->
<div class="container">
<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-5 text-center mt-3">
      <h3 class="text-muted pt-4">Predictive Analytics</h3>
      <h4 class="mb-2 py-2"><strong>Predicting house prices </strong></h4>
      <p>I use machine learning to predict sale prices of houses with different characteristics. Regression model is the most plausible candidate. Feature engineering is complete.</p>
      <p><a href="https://github.com/Amareteklay/heritage-housing-issues" target="_blank">Github repo</a>  for this project can be found.</p>
    </div>
    <div class="col-md-3" id="project-ml"></div>
  </div>
  <!--Quteba-->
  <div class="row mt-1">
    <div class="col-md-3 px-2" id="project-quteba"></div>
    <div class="col-md-5 text-center mt-3">
      <h3 class="text-muted pt-4">Full Stack Tools</h3>
      <h4 class="mb-2 py-2"><strong>Quteba: Discussion and Blog about Economy</strong></h4>
      

        <p>
                Quteba is a Tigrigna word for Economy.
           
                Quteba project is a full stack project with blog and forum.
          
                Qblog is for creating blog posts and articles that discuss economic issues in detail.
           
                Qforum helps users to engage in a conversation about economic topics. Users can create topics (threads), comment and reply. </p>
            
               <p> <a href="https://github.com/Amareteklay/quteba" target="_blank">Github repo</a>  for this project can be found.</p>
           
               </div>
    <div class="col-md-1"></div>
  </div>
<!--SDG-Quiz-->
<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-5 text-center mt-3">
      <h3 class="text-muted pt-4">Python CLI</h3>
      <h4 class="mb-2 py-2"><strong>SDG Quiz </strong></h4>
 
            <p>Sustainability is a key word in sustainability. I mean it is a buzz word in every field.
       
                I used python to create a command line quiz application.
           
                All the questions in the quiz are about the UN's sustainable development goals (SDGs).
           
                Users can also see a small note about the SDGs to refresh their memories.</p>
       
            <p><a href="https://github.com/Amareteklay/sdg-quiz" target="_blank">Github repo</a>  for this project can be found.</p>
     
    </div>
    <div class="col-md-3" id="project-quiz"></div>
  </div>
<!--Game-->
<div class="row mt-1">
    <div class="col-md-3 px-2" id="project-game"></div>
    <div class="col-md-5 text-center mt-3">
      <h3 class="text-muted pt-4">JavaScript, HTML and CSS</h3>
      <h4 class="mb-2 py-2"><strong>Extended Rock paper scissors</strong></h4>
      
            <p>Rock paper scissors is a common game.
       
                To extend it, add to it two more strategies: Lizard and Spock. This project implements the extended game.
          
                I used HTML and CSS for the content and style. The game logic was implemented in JavaScript.
          
            Do you want to play with the computer? The game is <a href="https://amareteklay.github.io/Portfolio-Project-2/index.html">live here</a>.
          </p>
            <p><a href="https://github.com/Amareteklay/Portfolio-Project-2" target="_blank">Github repo</a>  for this project can be found.</p>
      
    </div>
    <div class="col-md-1"></div>
  </div>
<!--Jungway-->
<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-5 text-center mt-3">
      <h3 class="text-muted pt-4">HTML and CSS</h3>
      <h4 class="mb-2 py-2"><strong>Jungway: Static Website about Carl Jung</strong></h4>
      
      
           <p> Carl Gustav Jung is one of the most influential psychologists. Dr. James Hollis made me love Jung.
      
            I created Jungway as my first portfolio project for HTML and CSS during my study at the Code Institute. 
      
            Jungway is a static website which gives some information about Jung and his works.</p>
       
            <p><a href="https://github.com/Amareteklay/Jungway" target="_blank">Github repo</a>  for this project can be found.</p>
     
    </div>
    <div class="col-md-3" id="project-jung"></div>
  </div>
</div>
{% endblock content %}