{% extends "pages/base.html" %}

{% block content %}
<div class="row shadow-lg bg-body rounded pt-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8 text-center">
            <h3 class="mt-2">Amare Teklay Hailu</h3>
            <h4>Software Developer | Economist </h4>
            <p>Data Analyst with a Diploma in Full Stack Software Development and a PhD in Economics. Proficient in HTML, CSS, JavaScript, Python and in love with Pandas, Scikit-learn, TensorFlow. I have worked as a researcher in teams as well as independently. Avid for leveraging machine learning tools to uncover valuable insights in data. </p>
        </div>
        <div class="col-md-2"></div>
      </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Education</h2>
            <ul>
                <li>PhD Economics</li>
                <li>Diploma Software Development</li>
                <li>Master in Economics</li>
                <li>Bsc in Software Engineering</li>
                <li>BA in Economics</li>
            </ul>
            <h2>Work Experience</h2>
            <ul>
                <li>Postdoctoral Researcher</li>
                <li>Mäler Scholar</li>
                <li>Lecturer</li>
            </ul>

            <p>Name: Amare Teklay Hailu<br>Date of Birth: January 05, 1985<br>Place of Birth: Shire,
                Tigray<br><br><strong>Address:</strong><br>Department of Forest Economics, Swedish University of
                Agricultural Sciences (SLU), Skogsmarksgränd 27, SE- 901 83 Umeå, Sweden<br><br>Mobile:
                46-(0)765250445<br>Email: amare.teklay.hailu@slu.se<br>Website: https://www.amareteklay.com/<br></p>

            <p><strong>Education</strong></p>

            <p>Norwegian University of Life Sciences (NMBU), Ph.D. in Economics, 2018. </p>

            <p>Microlink Information Technology College (Mekelle), Bsc.in Software Engineering, 2012. </p>

            <p>Mekelle University, Msc. in Economics with focus on Natural Resources Economics, 2011. </p>

            <p><em>Arba Minch University, B.A. in Economics, 2006. </em></p>

            <p><strong>Languages</strong><br>English, Tigrigna (Mother tongue), Amharic, and basic Swedish<br></p>

            <p><strong>Computer skills</strong></p>

            <p>Python, Stata, Netlogo, Ztree </p>

            <p><strong>Employments</strong><br>Postdoctoral Researcher, Swedish University of Agricultural Sciences
                (SLU) Department of Forest Economics and Center for Environmental and Resource Economics (CERE), 2019 to
                date.<br>Lecturer, Mekelle University, Department of Economics, 2012&#8211;2013.<br>Lecturer, Samara
                University, Department of Economics, 2011&#8211;2012.<br>Graduate assistant, Samara University,
                Department of Economics, 2008&#8211;2009.</p>

            <p><strong>Teaching</strong></p>

            <p> Behavioral Environmental Economics (lecture on framed field experiments), SLU, 2019. </p>

            <p>Advanced econometrics, Natural resource and environmental economics,Ethiopian Civil Service University
                (ECSU), 2018. \newline Advanced microeconomics, Mekelle University, 2015. </p>

            <p>Introduction to Game Theory, Mekelle University, 2012. </p>

            <p><strong>Research Interests</strong><br>Development and environment, Sustainable forest management,
                Incentives and behavior, Experimetal economics, Complexity science, Agent based modelling, Machine
                learning</p>

            <p><br><strong>Publications</strong></p>

            <p><strong><em>Journal article (peer-reviewed)</em></strong><br>Pay, talk or &#8216;whip&#8217; to conserve
                forests: Framed field experiments in Zambia. H Ngoma, AT Hailu, S Kabwe, A Angelsen &#8211; World
                Development, 2020.</p>

            <p><br><em><strong>Doctoral thesis</strong></em></p>

            <p>Incentivized forest conservation: spatial econometric and experimental evidence. AT Hailu, 2018.</p>

            <p><strong>Presentations</strong><br>Drivers of deforestation in Indonesia: a spatial panel econometric
                analysis, WCERE2018, Gothenburg, 2018.<br><br>Forest conservation and motivation crowding: a framed
                field experiment, EAERE, Athens, 2017.<br><br>Pay groups or pay individuals to conserve forests?
                Experimental evidence from Ethiopia, FLARE, University of Edinburgh, 2016.<br></p>

            <p><strong>Awards and grants</strong></p>

            <p>Mäler Scholar, Beijer Institute, Stockholm, 2018/19. Travel grant, WCERE2018 and pre-conference course in
                spatial analysis, 2018. </p>

            <p>SIDA scholarship for specialization PhD courses, University of Gothenburg, 2014. </p>

            <p> CIFOR PhD scholarship on global comparative studies on REDD+, Norwegian University of Life Sciences
                (NMBU), 2013-2018. </p>
            <p>Tigray Development Association (TDA) scholarship, Kellamino Special High School, 1999&#8211;2003. </p>

            <p><strong>Professional affiliations</strong><br>Member, European Association of Environmental and Resource
                Economists.</p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row progress-section">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p><strong>Skills</p></strong>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                    style="width:90%;">
                    <span class="sr-only">90% complete</span>
                </div>
                <span class="progress-type">HTML / HTML5</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100" style="width:80%;">
                    <span class="sr-only">80% complete</span>
                </div>
                <span class="progress-type">CSS / CSS3</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100" style="width:70%;">
                    <span class="sr-only">70% complete</span>
                </div>
                <span class="progress-type">JavaScript / jQuery</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100" style="width:80%;">
                    <span class="sr-only">80% complete</span>
                </div>
                <span class="progress-type">Django / Python</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100" style="width:80%;">
                    <span class="sr-only">80% complete</span>
                </div>
                <span class="progress-type">SQL / NoSQL</span>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>
{% endblock content %}