{% extends "pages/base.html" %}

{% block content %}
<div class="row bg-body rounded pt-5">
    <div class="row gx-0">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h3 class="mt-2 text-muted">Amare Teklay Hailu</h3>
            <h4><strong>Software Developer | Economist</strong> </h4>
            <p class="pt-3 text-muted res-pitch">Data Analyst with a Diploma in Full Stack Software Development and a PhD in
                Economics. Proficient in HTML, CSS, JavaScript, Python and in love with Pandas, Scikit-learn,
                TensorFlow. I have worked as a researcher in teams as well as independently. Avid for leveraging machine
                learning tools to uncover valuable insights in data. </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row gx-0">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-5">
            <h4 class="left-border"><strong class="px-2">Education</strong></h4>
            <table class="table table-borderless mt-4">
                <tbody>
                    <tr>
                        <td>2021/12 - present</td>
                        <td>Diploma in Full Stack Software Development (Predictive Analytics), Code Institute,
                            Ireland.</td>
                    </tr>
                    <tr>
                        <td>2013/8 - 2018/04</td>
                        <td>PhD in Economics, Norwegian University of Life Sciences (NMBU), Norway.</td>
                    </tr>
                    <tr>
                        <td>2009/09 - 2011/07</td>
                        <td>MSc in Economics, Mekelle University, Ethiopia.</td>
                    </tr>
                    <tr>
                        <td>2009/09 - 2012/07</td>
                        <td>BSc in Software Engineering, Microlink Information Technology College, Mekelle,
                            Ethiopia.</td>
                    </tr>
                    <tr>
                        <td>2003/09 - 2006/07</td>
                        <td>BA in Economics, Arba Minch University, Ethiopia.</td>
                    </tr>
                </tbody>
            </table>
            <!--Skills-->
            <h4 class="left-border mt-5"><strong class="px-2">Skills</strong></h4>
            <table class="table table-borderless mt-4">
                <tbody>
                    <tr>
                        <td>Technologies</td>
                        <td>HTML5, CSS3, JavaScript, Python</td>
                    </tr>
                    <tr>
                        <td>Databases</td>
                        <td>MySQL, Postgres, SQL</td>
                    </tr>
                    <tr>
                        <td>Frameworks </td>
                        <td>Django, jQuery, Boostrap</td>
                    </tr>
                    <tr>
                        <td>Data Visualization </td>
                        <td>Matplotlib, Plotly, Seaborn</td>
                    </tr>
                    <tr>
                        <td>Data Analysis </td>
                        <td>Numpy, Pandas</td>
                    </tr>
                    <tr>
                        <td>Machine Learning </td>
                        <td>Scikit-learn, TensorFlow</td>
                    </tr>
                    <tr>
                        <td>Cloud </td>
                        <td>Gitpod, Heroku, IBM Watson Studio</td>
                    </tr>
                    <tr>
                        <td>Version Control </td>
                        <td>Github, Git</td>
                    </tr>
                </tbody>
            </table>
            <!--Work Experience-->
            <h4 class="left-border mt-5"><strong class="px-2">Work Experience</strong></h4>
            <table class="table table-borderless mt-4">
                <tbody>
                    <tr>
                        <td>2019/03-2021/09</td>
                        <td>Postdoctoral Researcher, Swedish University of Agricultural Sciences (SLU), Sweden.</td>
                    </tr>
                    <tr>
                        <td>2018/09-2019/03</td>
                        <td>Mäler Scholar, Beijer Institute of Econological Economics, Sweden.</td>
                    </tr>
                    <tr>
                        <td>2011/07–2013/07</td>
                        <td>Lecturer, Mekelle and Samara Universities, Ethiopia.</td>
                    </tr>
                </tbody>
            </table>

            <!-- Projects-->
            <h4 class="left-border"><strong class="px-2">Projects</strong></h4>
            <table class="table table-borderless mt-4">
                <tbody>
                    <tr>
                        <td>Predicting House Prices</td>
                        <td>In progress. Final project for the Diploma in Full Stack Software Development. I use
                            house sales prices data to build a machine learning model. House Prices.</td>
                    </tr>
                    <tr>
                        <td>Quteba</td>
                        <td>In progress. I use HTML, CSS and Bootstrap, JavaScript and jQuery, and Django to
                            build a full stack web application. Quteba is a blog and a forum with user authentication
                            and capability to comment and reply. Postgres is used for the database. Quteba.</td>
                    </tr>
                    <tr>
                        <td>SDG-Quiz</td>
                        <td>Completed. SDG-Quiz is a python CLI application where users can take a quiz and get
                            feedback. SDG-Quiz.</td>
                    </tr>
                    <tr>
                        <td>RPSLS</td>
                        <td>Completed. Rock Paper Scissors Lizard Spock game implemented in JavaScript with
                            HTML and CSS for rendering content and style. RPSLS Game.</td>
                    </tr>
                    <tr>
                        <td>Jungway</td>
                        <td>Completed. A project in front-end and UX design using HTML and CSS. Jungway.</td>
                    </tr>
                </tbody>
            </table>

            <h4 class="left-border mt-5"><strong class="px-2">Languages</strong></h4>
            <table class="table table-borderless mt-4">
                <tbody>
                    <tr>
                        <td>English</td>
                        <td>Fluent</td>
                    </tr>
                    <tr>
                        <td>Tigrigna</td>
                        <td>Mother tongue</td>
                    </tr>
                    <tr>
                        <td>Amharic</td>
                        <td>Fluent.</td>
                    </tr>
                    <tr>
                        <td>Swedish</td>
                        <td>Basic user. Completed SFI.</td>
                    </tr>
                </tbody>
            </table>

            <!-- Additional Information-->
            <h4 class="left-border"><strong class="px-2">Additional Information</strong></h4>
            <table class="table table-borderless mt-4">
                <tbody>
                    <tr>
                        <td>Conferences</td>
                        <td> WCERE2018, Gothenburg, 2018. EAERE, Athens, 2017. FLARE, Edinburgh, 2016.</td>
                    </tr>
                    <tr>
                        <td>Teaching</td>
                        <td>Behavioral Environmental Economics. Advanced Econometrics. Advanced microeconomics. Game
                            Theory</td>
                    </tr>
                    <tr>
                        <td>Research</td>
                        <td><strong>Doctoral thesis: </strong>Incentivized forest conservation: spatial econometric and
                            experimental evidence. AT Hailu, 2018. <br>
                            <strong>Journal article: </strong>Pay, talk or whip to conserve forests: Framed field
                            experiments in Zambia. H Ngoma, AT Hailu, S Kabwe, A Angelsen &#8211; World
                            Development, 2020.</td>
                    </tr>
                    <tr>
                        <td>Awards</td>
                        <td>Scholarship to join Kalamino Special High School in Tigray. Gold medal for getting the
                            highest grades among graduates of Arba Minch University in 2006. Mäler Scholarship in
                            Environmental Economics in 2018. SIDA scholarship for specialization PhD courses in
                            2014. CIFOR PhD scholarship at NMBU during 2013-2018.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock content %}