{% extends "pages/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="container-fluid" id="hero-container">
    <div id="hero-image">
      <img src="{% static 'pages/images/sun-ray2.png' %}" class="img-fluid" alt="Sun ray">
      <div id="face-image"> <img src="{% static 'pages/images/Amare.jpg' %}" class="img-fluid" alt="Amare"></div>
      <div id="hero-text">
        <h1>Amare Teklay</h1>
        <h4>Software Developer | Economist </h4>
      </div>
    </div>
  </div>

  <div class="container shadow-lg bg-body rounded marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Economics</div>
          <div class="card-body">
            <h5 class="card-title">I am an Economist</h5>
            <p class="card-text">Economics taught me about choice and human behavior.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Technology</div>
          <div class="card-body">
            <h5 class="card-title">I am a software developer</h5>
            <p class="card-text">I did some economic calculations and decided to study software development.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">ትግርኛ / Tigrigna</div>
          <div class="card-body">
            <h5 class="card-title">ትግርኛ ፅሑፋት</h5>
            <p class="card-text">ብ ትግርኛ ዝልጥፎም ፅሑፋት ኣብዚ መንጠሪ ብምጥዋቕ ትረኽቡ።</p>
            <p><a class="btn btn-secondary" href="#">ምርሐኒ &raquo;</a></p>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
    </div>
  </div>
  {% endblock content %}